doctype 5
html
  head
    title between
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div(class='row')
      div(class='span11 offset1')
        block content
