doctype 5
html
  head
    title between
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='/js/jquery/jquery.js')
    script(type='text/javascript', src='/js/bootstrap/bootstrap.js')
  body
    div(class='navbar navbar-inverse navbar-static-top')
      div(class='navbar-inner')
        a(class='brand', href='/') between.io
        ul(class='nav')
          li
            a(href='#') Docs
          li
            a(href='#') Blog
    div(class='container')
      block content
