extends layout

block content
  h2 Create Interceptor
  p
    strong Interceptor URLs 
    | wrap your HTTP and HTTPS requests so you can stop guessing what's on the wire.
    | It's like a URL shortener with 
    strong magic
    | !
  p
    | Enter a URL you would like to wrap below.
  form(method='POST', action='/new')
    div(class='input-append')
      input(class='span7', size=16, type='text', placeholder='graph.facebook.com', name='url')
      input(class='btn btn-primary span1', size=16, type='submit', value='go')

  if interceptors.length > 0
    h2 Existing Interceptors
    div(class='row')
      div(class='span7')
        table(class='table table-striped')
          each interceptor in interceptors
            tr
              td #{interceptor.getProxyHost()} &rarr; #{interceptor.host}
              td(style='width: 36px;')
                a(class='btn btn-mini btn-primary', href='/transcript/#{interceptor._id}')
                  | view
