doctype 5
html
  head
    title between.io
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/logosmall.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='/js/jquery/jquery.js')
    script(type='text/javascript', src='/js/bootstrap/bootstrap.js')
    script(type='text/javascript', src='/js/knockout/knockout-2.2.0.debug.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/browserify.js')
    block head
  body
    div(class='navbar navbar-static-top')
      div(class='navbar-inner')
        a(class='brand', href='/') between.io
        
        ul(class='nav pull-right')
          if user
            li(class='dropdown')
              a(class='dropdown-toggle', data-toggle='dropdown', href='#')
                | Logged in as 
                strong= user.email
                b(class='caret')
              ul(class='dropdown-menu')
                li
                  a(href='/logout') Log Out
          else
            li
              a(href='/login') Log In
            
    div(class='container')
      if error
        div(class='alert alert-error')= error
      block content
    script(type='text/javascript')
      (function() {
        var dc, url;
        window.dc_opts = {
          clientId: "d514119f-de3d-4b30-9759-045006867478",
          home: "https://www.dailycred.com"
        };
        dc = document.createElement("script");
        url = dc_opts.home + "/public/js/cred.coffee";
        dc.src = url;
        document.body.appendChild(dc);
      }).call(this);
