
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic);


@import 'bootstrap/bootstrap';

@import 'highlight/solarized_light.css';

tt, pre, .break {
  word-break: break-all;
  word-wrap: break-word;
}

.landing-image {
  text-align: center;
  padding-top: 20px;
  
  img {
    padding: 6px;
    border: 1px solid #EEE;
    background-color: #DDD;
  }
}

.subtext {
  font-size: 30px;
  line-height: 40px;
  color: #2A2;
}

.box {
  background-color: #2a2;
  padding: 10px;
  color: white;
  margin-top: 23px;
}

h1.landing {
  font-size: 55px;
  line-height: 60px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  margin-top: 30px;
  color: #2a2;
}

form {
  margin-top: 20px;
}

.table-headers {
  td {
    color: #666;
  }

  td, th {
    border-top: none;
  }

  th {
    text-align: right;
    white-space: nowrap;
    width: 1px;
  }
}

img.preview {
  margin-bottom: 40px;
}

samp {
  padding: 2px 5px;
  background-color: #eee;
}

