
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic);


@import 'bootstrap/bootstrap';
@import 'bootstrap/responsive';

@import 'highlight/solarized_light.css';

td, p {
  word-break: break-all;
  word-wrap: break-word;
}

.table-headers {
  td {
    color: #666;
  }

  td, th {
    border-top: none;
  }

  th {
    text-align: right;
    white-space: nowrap;
    width: 1px;
  }
}

img.preview {
  margin-bottom: 40px;
}

